.blue-letter {
    color: #437899;
}

.democrat {
    background-color: #437899;
    padding: 15px 15px 14px 15px;
    margin: -15px -15px -15px -15px;
}

.description {
    padding-left: 10px;
    color: #5E5E5E;
    font-size: 14px;
    margin-bottom: 15px;
}

.directions {
    padding-left: 10px;
    color: #5E5E5E;
}

.hover-panel:hover{
    background-color: #C2C2C2;
    cursor: pointer;
}

.independent{
    background-color: #34B37A;
    padding: 15px 15px 14px 15px;
    margin: -15px -15px -15px -15px;
}

.incumbent-image{
    height: 150px;
    width: auto;
    border-radius: 3px;
    margin-left: -20px;
}

.my-search-bar {
    margin-bottom: 50px;
}

.panel-default {
     border-color: transparent; 
}

.panel-body {
    color: black;
    font-size: 16px;
}

.pop-content:hover {
    cursor: pointer;
    text-decoration: underline;
}
.red-letter {
    color: #C8585C;
}

.republican {
    background-color: #C8585C;
    padding: 15px 15px 14px 15px;
    margin: -15px -15px -15px -15px;
    /*border-bottom: 1px solid gray;
    border-left: 1px solid black;
    border-right: 1px solid black;*/
    
}

.sub-title {
    color: black;
    font-size: 22px;
    margin-bottom: 10px;
}

.title-font {
    font-family: 'Roboto', sans-serif;
    margin-top: 30%;
    font-size: 3.3em;
    margin-bottom: 30px;
}



