<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- angular -->
        <script type="text/javascript" src="js/angular.js"></script>

        <!-- script -->
        <script type="text/javascript" src="js/app.js"></script>

        <!-- css -->
        <link rel="stylesheet" href="css/bootstrap.css" />
        <link rel="stylesheet" href="css/style.css" />
        
         <!-- Jquery -->
        <script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
        
        <!-- Bootstrap JS -->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.2.js"></script>
        
        <!--Title Font-->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
        
    </head>

    <body ng-app="myApp">

        <div class="container" ng-controller="BaseController as base">
            <!--Title-->
            <div class="row">
                <div class="col-md-3 col-sm-2 col-xs-2"></div>
                <div class="col-md-7 col-sm-8 col-xs-9">
                    <h1 class="title-font">2<font class="red-letter">0</font>1<font class="blue-letter">6</font> <font class="red-letter">S</font>en<font class="blue-letter">a</font>te El<font class="blue-letter">e</font>cti<font class="red-letter">o</font>ns</h1>
                </div>
                <div class="col-md-3 col-sm-2 col-xs-1"></div>
            </div>
            
            <!--Description-->
            <div class="row">
                <div class="col-md-3 col-sm-2 col-xs-2"></div>
                <div class="col-md-6 col-sm-8 col-xs-9">
                  <div class="description">Every incumbent senator and whether they are up for election this year is listed below. The candidates running for open seats are also listed.  </div>
                </div>
                <div class="col-md-3 col-sm-2 col-xs-1"></div>
            </div>
            
            <!--Directions and searchbar-->
            <div class="row">
                <div class="col-md-2 col-sm-1 col-xs-1"></div>
                <div class="col-md-8 col-sm-10 col-xs-10">
                    <h4 class="directions">Find out if a senator in your state is up for a election</h4>
                    <div class="input-group my-search-bar">
                        <input ng-model="search" type="text" class="form-control" placeholder="Search for a state, senator, or candidate">
                        <span class="input-group-btn ">
                            <button class="btn btn-default" type="button" ng-click="base.toggleIt('last')">
                                <span class="glyphicon glyphicon-sort"></span>
                            </button>
                        </span>
                    </div>
                 </div>   
                <div class="col-md-2 col-sm-1 col-xs-1"></div>
            </div>
            
           
      <!--Panel heads--> 
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div ng-repeat= "senateSeats in base.senateData | filter: search | orderBy: base.column : base.toggle" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading hover-panel" role="tab" id="headingOne" data-toggle="collapse" href="{{ '#collapse' + senateSeats.abreviation }}" aria-expanded="false" aria-controls="{{ 'collapse' + senateSeats.abreviaion }}">
      <h4 class="panel-title">
        <a>
          {{senateSeats.stateName}}
        </a>
      </h4>
    </div>
    <!--Panel bodies-->
    <div id="{{ 'collapse' + senateSeats.abreviation }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ 'heading' + senateSeats.statename }}">
        <div ng-repeat="office in senateSeats.seat">
        <div  ng-repeat="senateIncumbent in office.incumbent" class="panel-body ">
            <div  class="{{base.partyColor(senateIncumbent.party)}}">
                <div class="row">
                    <div class="col-md-1 col-sm-1 col-xs-1"></div>
                    <div class="col-md-6 col-sm-6 col-xs-10 sub-title">
                        Current Representative
                        <div class="row">
                            <div class="col-md-1 col-sm-1 col-xs-3"></div>
                            <div class="col-md-4 col-sm-4 col-xs-6">
                                <img class="incumbent-image" src="{{senateIncumbent.image}}"/>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 panel-body">
                                <div>{{senateIncumbent.firstName}} {{senateIncumbent.lastName}} is a {{senateIncumbent.party}} senator from {{senateSeats.stateName}}. This Senate seat {{base.contestedSeat(office.contested)}} up for election this year.</div>
                            </div>
                        </div>
                     </div>
                    <div class="col-md-1 col-sm-1 col-xs-3"></div>
                    <div class="col-md-5 col-sm-5 col-xs-9 sub-title">Candidates</div>
                        <div class="row">
                            <div class="col-md-1 col-sm-1 col-xs-3"></div>
                            <div class="col-md-5 col-sm-5 col-xs-9">
                                <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-7" ng-repeat="candidates in office.candidate">
                                <div class="pop-content" data-toggle="modal" data-target="#myModal{{candidates.firstName}}{{candidates.lastName}}">
                                    <ul>
                                        <li>{{candidates.firstName}} {{candidates.lastName}}</li>
                                    </ul>
                                </div>
                                <div class="modal fade" id="myModal{{candidates.firstName}}{{candidates.lastName}}" role="dialog">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">{{candidates.firstName}} {{candidates.lastName}}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img class="incumbent-image pop-image" src="{{candidates.image}}"/>
                                            <div>Bio:</div>
                                            <div class="pop-bio">{{candidates.bio}}</div>
                                            <div class="pop-list-head">{{candidates.firstName}} {{candidates.lastName}}:</div>
                                            <ul>
                                                <li>{{candidates.platform1}}</li>
                                                <li>{{candidates.platform2}}</li>
                                                <li>{{candidates.platform3}}</li>
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                                </div>
                        </div>
                        
                             <div class="col-md-0 col-sm-0 col-xs-1"></div>
                        </div>
                </div>
            </div>  
        </div>
                        
        </div>
            </div>
        </div>
        </div>
    </div>
    </div>
        </div>
    </div>
    </div>
       
        <div id="footer">
             Inormation from <a href="https://en.wikipedia.org/wiki/United_States_Senate_elections,_2016">Wikipedia</a> and <a href="http://www.senate.gov/general/contact_information/senators_cfm.cfm">Senate.gov</a>
        </div>
       

    </body>
</html>
