<!DOCTYPE html>
<html>
    <head>
        <!-- angular -->
        <script type="text/javascript" src="js/angular.js"></script>

        <!-- script -->
        <script type="text/javascript" src="js/app.js"></script>
        
        <!-- json -->
        <script type="text/javascript" src="js/senateinfo.json"></script>

        <!-- css -->
        <link rel="stylesheet" href="css/bootstrap.css" />
        <link rel="stylesheet" href="css/style.css" />
        
    </head>

    <body ng-app="myApp">

        <div class="container" ng-controller="BaseController as base">
            
            <input ng-model="search" type="text" class="form-control" placeholder="Search for...">
            
            
  <div ng-repeat= "senateSeats in base.senateData | filter: search" class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" ng-click= "base.collapseState(senateSeats.stateName)" ng-href="{{ '#collapse' + senateSeats.stateName }}">{{senateSeats.stateName}}</a>
        </h4>
      </div>
      <div ng-repeat= "senateSeats in base.senateData" ng-attr-id="{{ 'collapse' + senateSeats.stateName }}" class="panel-collapse collapse">
        <div ng-repeat="office in senateSeats.seat" class="panel-body party-color">{{senateSeats.abreviation}} {{office.incumbent}} {{office.contested}}</div>
      </div>
    </div>
  </div>

            
  
  

        </div>




        <!-- Jquery -->
        <script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
        
        <!-- Bootstrap JS -->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
    </body>
</html>
